# Node.js
node_modules/

# TypeScript
*.js
*.js.map
*.d.ts

# Editor/IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/

# Miscellaneous
.DS_Store
Thumbs.db